.card {
  max-width: 600px;
  flex: 0 0 50%;
}

.card__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card__list-item {
  font-family: "Noto Serif", "Times New Roman", serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  margin: 0 0 16px;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-divider {
  background-color: #fff;
  margin: 0 6px 2px;
  height: 1px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}
