.card {
  max-width: 600px;
  width: 100%;
}

.card:last-of-type {
  margin: auto;
}

.card__title {
  /* delete out inherited styles at the end */
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
  margin: 0 0 32px;
}

.card__list-items {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.card__list-item {
  display: flex;
  align-items: flex-end;
  margin-bottom: 16px;
  margin-top: 0;
}

.card__list-item:last-of-type {
  margin-bottom: 0;
}

.card__list-paragraph {
  /* delete out inherited styles at the end */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
}

.card__list-divider {
  background-color: #fff;
  margin: 0 6px 2px;
  height: 1px;
  flex-grow: 1;
}
