.header {
  background-color: #fff;
  background-image: url(../images/background_header.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  box-sizing: border-box;
  z-index: 0;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
}

.header__title {
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  padding-left: 80px;
  margin: 0;
}

.header__span-accent {
  display: block;
  color: #2f80ed;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: italic;
}

.header__description {
  max-width: 683px;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 20px;
  line-height: 30px;
  padding-left: 80px;
  margin-top: 28px;
  margin-bottom: 0;
}

.header__image {
  width: 646px;
  height: 568px;
  position: absolute;
  z-index: -1;
  top: 124px;
  right: 5px;
}

.header__footer-left {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 80px;
  bottom: 40px;
}

.header__footer-right {
  position: absolute;
  right: 80px;
  bottom: 40px;
}

.header__paragraph {
  font-weight: 500;
  color: #6f6f6f;
  margin: 0;
}
