.menu {
  background-color: #0a2750;
  background-image: url(../images/background_menu.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
  color: #fff;
}

.menu__intro {
  max-width: 780px;
  text-align: center;
  margin: auto;
}

.menu__title {
  /* delete out inherited styles at the end */
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 24px;
}

.menu__subtitle {
  /* delete out inherited styles at the end */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  margin: 0;
}

.menu__cards {
  margin: 100px auto 0;
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
