.recipes {
  background-color: #fff;
}

.recipes__title {
  /* delete out inherited styles at the end */
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  /* delete out inherited styles at the end */
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.recipes__videos {
}

.recipes__video {
}

.recipes__iframe {
}

.recipes__video-captions {
}

.recipes__caption {
  /* delete out inherited styles at the end */
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
